body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lora';  
}

html {
    font-size: 62.5%;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: peru;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: grey;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}